
tmp/*
db/*.sqlite3
db/schema.rb
db/sphinx/*
config/database.yml
config/antikobpae.yml
config/ldap.yml
config/*.sphinx.conf
log/*
uploads/*
import/*
vendor/bundle/*
public/assets/*
public/system/*
#config/deploy/templates/*
src/*
*.swp
open-uri*
