.document * {
	max-width: 710px;
}

.fancybox img {
	background: #EEE;
	border: 10px #FFF solid;
}
.fancybox {
	display: inline-block;
	padding: 0px;
	margin: 20px;
	background: #EEE;
	border: 1px #CCC solid;
	-webkit-box-shadow: 1px 2px 10px #AAA;
	height: auto;
}

td.document_status {
	width: 100px;
}