.flash {
	width: 100%;
	margin: 0;
	-webkit-background-size: 40px 40px;
	-moz-background-size: 40px 40px;
	padding: 15px;
}

.document .option {
	width: auto;
}

.option {
	-webkit-border-radius: 5px;
	padding: 5px;
}
.flash, .result, .option {
	background: transparent !important;
	background-size: 40px 40px !important;
	background-image: -webkit-gradient(linear, left top, right bottom,
	                color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
	                color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
	                color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
	                to(transparent)) !important;
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
	                transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
	                transparent 75%, transparent) !important;
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
	                transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
	                transparent 75%, transparent) !important;
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
	                transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
	                transparent 75%, transparent) !important;
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
	                transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
	                transparent 75%, transparent) !important;
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
	                transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
	                transparent 75%, transparent) !important;
	-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
	box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
	border: 1px solid;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	color: #fff !important;
	position: relative;
	_position: relative;
	-webkit-animation: animate-bg 5s linear infinite;
	-moz-animation: animate-bg 5s linear infinite;
}

.info, .notice, .blue {
     background-color: #4ea5cd !important; 
     border-color: #3b8eb5;
}

.error, .alert, .red {
     background-color: #de4343 !important;
     border-color: #c43d3d;
}

.warning, .orange {
     background-color: #FF8000 !important;
     border-color: #CC5000;
}

.success, .green {
     background-color: #61b832 !important;
     border-color: #55a12c;
}
.yellow {
     background-color: #FFCC00 !important;
     border-color: #FFCC66;
}
.gray {
     background-color: #999999 !important;
     border-color: #666666;
}

.black {
	background-color: #333 !important;
	border-color: #000;
}

.flash h3,
.option h3,
.result h3 {
     margin: 0 0 5px 0;
     color: #fff;
	text-shadow: 0px 1px 2px #333;
}

.flash p,
.option p,
.result p {
     margin: 0;
     color: #eee
}

.flash a,
.option a,
.result a {
    /*color: #395976;
	text-shadow: 0px 0px 5px #FFF;*/
	text-decoration: none;
}
.flash a:hover,
.option a:hover,
.result a:hover {
	color: #DEF;
	text-shadow: 0 1px 1px #597996, 0px 0px 5px #FFF;
}
@-webkit-keyframes animate-bg
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}

@-moz-keyframes animate-bg
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}
