<div class="navbar navbar-fixed-bottom navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <p class="navbar-text pull-right"><!-- Copyright 2013 <a href="#">Dev.lc</a>. All Rights Reserved.-->Credits</p>
        </div>
    </div>
</div>
