
.input-group.color .input-group-btn i {
    cursor: pointer;
    display: block;
    height: 20px;
    position: absolute;
    right: 6px;
    width: 20px;
}
.colorpicker.dropdown-menu {
    padding: 5px;
}
.modal-open .colorpicker {
    z-index: 10055 !important;
}
.datepaginator a {
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 300;
}
.datepicker .today {
    background-image: none !important;
    filter: none !important;
}
#dp-calendar {
    right: 4px !important;
}
.datepaginator .fa-angle-right:before {
    content: "";
}
.datepaginator .fa-angle-left:before {
    content: "";
}
.datepicker.dropdown-menu {
    padding: 5px;
}
.datepicker .selected {
    background-color: #909090 !important;
    background-image: none !important;
    filter: none !important;
}
.datepicker .active {
    background-color: #4b8df8 !important;
    background-image: none !important;
    filter: none !important;
}
.datepicker .active:hover {
    background-color: #2678fc !important;
    background-image: none !important;
    filter: none !important;
}
.datepicker .input-daterange input {
    text-align: left;
}
.modal-open .datepicker {
    z-index: 10055 !important;
}
.datepicker table td {
    font-family: 'Open Sans' !important;
    font-weight: 300 !important;
}
.datepicker table th {
    font-family: 'Open Sans' !important;
    font-weight: 400 !important;
}
.datepicker.dropdown-menu {
    border: 1px solid #efefef;
    box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
}
.modal-open .daterangepicker {
    z-index: 10055 !important;
}
.daterangepicker {
    margin-top: 4px;
}
.daterangepicker td {
    text-shadow: none;
}
.daterangepicker td.active {
    background-color: #4b8df8;
    background-image: none;
    filter: none;
}
.daterangepicker th {
    font-size: 14px;
    font-weight: 400;
}
.daterangepicker .ranges input[type="text"] {
    font-size: 11px;
    vertical-align: middle;
    width: 70px !important;
}
.daterangepicker .ranges label {
    display: block;
    font-weight: 300;
}
.daterangepicker .ranges .btn {
    margin-top: 10px;
}
.daterangepicker.dropdown-menu {
    padding: 5px;
}
.daterangepicker .ranges li {
    color: #333;
}
.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
    background: none repeat scroll 0 0 #4b8df8 !important;
    border: 1px solid #4b8df8 !important;
    color: #fff;
}
.daterangepicker .range_inputs input {
    margin-bottom: 0 !important;
}
.daterangepicker .fa-angle-right:before {
    content: "";
}
.daterangepicker .fa-angle-left:before {
    content: "";
}
.datetimepicker table td {
    font-family: 'Open Sans' !important;
    font-weight: 300 !important;
}
.datetimepicker table th {
    font-family: 'Open Sans' !important;
    font-weight: 400 !important;
}
.datetimepicker.dropdown-menu {
    padding: 5px;
}
.datetimepicker .active {
    background-color: #4b8df8 !important;
    background-image: none !important;
    filter: none !important;
}
.datetimepicker .active:hover {
    background-color: #2678fc !important;
    background-image: none !important;
    filter: none !important;
}
.datetimepicker .fa-angle-left:before {
    content: "";
}
.datetimepicker .fa-angle-right:before {
    content: "";
}
.modal-open .datetimepicker {
    z-index: 10055 !important;
}
.editable-input table, .editable-input table th, .editable-input table td, .editable-input table tr {
    border: 0 none !important;
}
.editable-input .combodate select {
    margin-bottom: 5px;
}
.fileinput {
    margin-bottom: 0;
}
.fileinput .close {
    float: none;
}
.fileinput .input-group {
    overflow: hidden;
    white-space: nowrap;
}
.md-input {
    border-bottom: 0 none !important;
    padding: 5px !important;
}
.md-editor .btn-toolbar {
    margin-left: 0;
}
.md-editor.active {
    border: 1px solid #999999;
    box-shadow: none !important;
}
.has-error .md-editor {
    border: 1px solid #f3565d !important;
}
.has-success .md-editor {
    border: 1px solid #45b6af !important;
}
.has-warning .md-editor {
    border: 1px solid #ecbc29 !important;
}
.modal-open.page-overflow .page-container, .modal-open.page-overflow .page-container .navbar-fixed-top, .modal-open.page-overflow .page-container .navbar-fixed-bottom, .modal-open.page-overflow .modal-scrollable {
    overflow-y: auto !important;
}
.modal-scrollable {
    overflow: hidden !important;
}
.bootstrap-select .btn {
    border-color: #e5e5e5;
}
.has-error .bootstrap-select .btn {
    border-color: #f3565d;
}
.has-success .bootstrap-select .btn {
    border-color: #45b6af;
}
.has-warning .bootstrap-select .btn {
    border-color: #ecbc29;
}
.bootstrap-select.open .btn {
    border-color: #999999;
}
.bootstrap-select.open.dropup .btn {
    border-color: #999999;
}
.bootstrap-select .btn:focus {
    outline: medium none !important;
    outline-offset: 0;
}
.bootstrap-select.btn-group .dropdown-menu {
    margin-top: 1px;
}
.bootstrap-select.btn-group .dropdown-menu > li > dt > .text {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
}
.bootstrap-select.btn-group .dropdown-menu .text-muted {
    color: #999 !important;
}
.bootstrap-select .caret {
    border: 0 none;
    height: auto;
    margin-top: -10px !important;
    width: auto;
}
.bootstrap-select .caret:before {
    border: 0 none;
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}
.bootstrap-select .selected i {
    color: #aaa;
}
.bootstrap-select .dropdown-menu {
    z-index: 9999 !important;
}
.bootstrap-switch {
    border-color: #e5e5e5;
}
.bootstrap-switch.bootstrap-switch-focused {
    border-color: #e5e5e5;
    box-shadow: none;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    background: none repeat scroll 0 0 #428bca;
    color: white;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info {
    background: none repeat scroll 0 0 #89c4f4;
    color: white;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
    background: none repeat scroll 0 0 #45b6af;
    color: white;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning {
    background: none repeat scroll 0 0 #ecbc29;
    color: white;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger {
    background: none repeat scroll 0 0 #f3565d;
    color: white;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    background: none repeat scroll 0 0 #ececec;
    color: #444444;
}
.portlet > .portlet-title > .actions > .bootstrap-switch {
    border-color: transparent;
    margin-top: -13px;
}
.bootstrap-timepicker-widget table td a {
    padding: 4px 0;
}
.bootstrap-timepicker-widget input, .bootstrap-timepicker-widget input:focus {
    border: 0 none;
    outline: medium none !important;
}
.modal-open .bootstrap-timepicker-widget {
    z-index: 10055 !important;
}
.bootstrap-timepicker-widget.timepicker-orient-bottom:before, .bootstrap-timepicker-widget.timepicker-orient-bottom:after {
    top: auto;
}
.toast {
    box-shadow: none !important;
}
.toast {
    background-color: #030303;
}
.toast-success {
    background-color: #51a351;
}
.toast-error {
    background-color: #bd362f;
}
.toast-info {
    background-color: #2f96b4;
}
.toast-warning {
    background-color: #f89406;
}
.toast .toast-close-button {
    background-image: url("../img/portlet-remove-icon-white.png") !important;
    background-repeat: no-repeat !important;
    display: inline-block;
    height: 16px;
    margin-right: 0;
    margin-top: 0;
    text-indent: -100000px;
    width: 11px;
}
.toast-top-center {
    left: 50%;
    margin: 0 auto 0 -150px;
    top: 12px;
}
.toast-bottom-center {
    bottom: 12px;
    left: 50%;
    margin: 0 auto 0 -150px;
}
.form-wizard .progress {
    margin-bottom: 30px;
}
.form-wizard .steps {
    background-color: white;
    background-image: none;
    border: 0 none;
    box-shadow: none;
    filter: none;
    margin-bottom: 15px;
    padding: 10px 0;
}
.form-wizard .steps > li > a.step {
    background-color: white;
    background-image: none;
    border: 0 none;
    box-shadow: none;
    filter: none;
}
.form-wizard .steps > li > a.step:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.form-wizard .steps > li > a.step > .number {
    background-color: #eee;
    border-radius: 50% !important;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    height: 45px;
    margin-right: 10px;
    padding: 11px 15px 13px;
    text-align: center !important;
    width: 45px;
}
.form-wizard .steps > li > a.step > .desc {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
}
.form-wizard .steps > li > a.step > .desc > i {
    display: none;
}
.form-wizard .steps > li.active > a.step .number {
    background-color: #45b6af;
    color: #fff;
}
.form-wizard .steps > li.active > a.step .desc {
    color: #333;
}
.form-wizard .steps > li.done > a.step .number {
    background-color: #ecbc29;
    color: #fff;
}
.form-wizard .steps > li.done > a.step .desc {
    color: #333;
}
.form-wizard .steps > li.done > a.step .desc i {
    color: #999;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
}
@media (min-width: 768px) and (max-width: 1200px) {
.form-wizard .step .desc {
    display: block;
    margin-top: 10px;
}
}
@media (max-width: 768px) {
.form-wizard .steps > li > a {
    text-align: left;
}
}
.wysihtml5-sandbox {
    width: 100% !important;
}
.wysihtml5-toolbar li {
    height: 29px;
    margin: 0;
}
.wysihtml5-toolbar li .dropdown-menu {
    margin-top: 5px;
}
.has-error .wysihtml5-sandbox {
    border: 1px solid #f3565d !important;
}
.has-success .wysihtml5-sandbox {
    border: 1px solid #45b6af !important;
}
.has-warning .wysihtml5-sandbox {
    border: 1px solid #ecbc29 !important;
}
.note-editor {
    border: 1px solid #e5e5e5;
}
.note-editor .note-toolbar {
    border-bottom: 1px solid #e5e5e5;
}
.note-editor .note-statusbar .note-resizebar {
    border-top: 1px solid #e5e5e5;
}
.note-editor.fullscreen {
    width: 100% !important;
    z-index: 11000;
}
.note-link-dialog .checkbox {
    margin-left: 20px;
}
.has-error .note-editor {
    border: 1px solid #f3565d !important;
}
.has-success .note-editor {
    border: 1px solid #45b6af !important;
}
.has-warning .note-editor {
    border: 1px solid #ecbc29 !important;
}
.cke_bottom, .cke_inner, .cke_top, .cke_reset, .cke_dialog_title, .cke_dialog_footer, .cke_dialog {
    background-image: none !important;
    border-bottom: 0 none;
    border-top: 0 none;
    box-shadow: none !important;
    filter: none;
    text-shadow: none;
}
.cke_dialog_ui_button, .cke_dialog_tab {
    background-image: none !important;
    box-shadow: none !important;
    filter: none;
    text-shadow: none !important;
}
.cke_dialog_ui_button:hover, .cke_dialog_tab:hover {
    text-decoration: none;
    text-shadow: none;
}
.cke_dialog_ui_input_text {
    background-image: none !important;
    box-shadow: none !important;
    filter: none;
}
.cke_combo_button, .cke_button, .cke_toolbar, .cke_toolgroup {
    background-image: none !important;
    border: 0 none;
    box-shadow: none !important;
    filter: none !important;
}
.cke_button, .cke_combo_button, .cke_panel_grouptitle, .cke_hc.cke_panel_listItem a {
    background-image: none !important;
    filter: none;
    text-shadow: none;
}
.cke_button:hover, .cke_combo_button:hover {
    background-color: #ddd;
}
.cke_toolbar_break {
    background-image: none !important;
    border: 0 none;
    box-shadow: none !important;
    filter: none !important;
}
.has-error .cke {
    border: 1px solid #ebccd1 !important;
}
.has-success .cke {
    border: 1px solid #d6e9c6 !important;
}
.modal-open .clockface {
    z-index: 10055 !important;
}
.clockface .cell .inner.active, .clockface .cell .outer.active {
    background-color: #4b8df8 !important;
    background-image: none;
    filter: none;
}
.dataTable {
    clear: both;
    margin-top: 5px;
    width: 100%;
}
.dataTables_filter .form-control {
    margin-left: 4px;
}
.dataTables_filter label {
    line-height: 32px;
}
.dataTable .row-details {
    cursor: pointer;
    display: inline-block;
    height: 14px;
    margin-top: 3px;
    width: 14px;
}
.dataTable .row-details.row-details-close {
    background: url("../img/datatable-row-openclose.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.dataTable .row-details.row-details-open {
    background: url("../img/datatable-row-openclose.png") no-repeat scroll 0 -23px rgba(0, 0, 0, 0);
}
.dataTable .details {
    background-color: #eeeeee;
}
.dataTable .details td, .dataTable .details th {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    padding: 4px;
}
.dataTable .details tr:hover td, .dataTable .details tr:hover th {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.dataTable .details tr:nth-child(2n+1) td, .dataTable .details tr:nth-child(2n+1) th {
    background-color: #eeeeee;
}
.dataTable .details tr:nth-child(2n) td, .dataTable .details tr:nth-child(2n) th {
    background-color: #eeeeee;
}
.dataTable > thead > tr > th.sorting, .dataTable > thead > tr > th.sorting_asc, .dataTable > thead > tr > th.sorting_desc {
    padding-right: 18px;
}
.dataTable .table-checkbox {
    width: 8px !important;
}
@media (max-width: 768px) {
.dataTables_wrapper .dataTables_length .form-control, .dataTables_wrapper .dataTables_filter .form-control {
    display: inline-block;
}
.dataTables_wrapper .dataTables_info {
    top: 17px;
}
.dataTables_wrapper .dataTables_paginate {
    margin-top: -15px;
}
}
@media (max-width: 480px) {
.dataTables_wrapper .dataTables_filter .form-control {
    width: 175px !important;
}
.dataTables_wrapper .dataTables_paginate {
    float: left;
    margin-top: 20px;
}
}
.dataTables_processing {
    background-color: #eee;
    border: 1px solid #ddd;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 13px;
    left: 50%;
    margin-left: 0;
    min-width: 125px;
    padding: 7px;
    position: fixed;
    text-align: center;
    top: 50%;
    vertical-align: middle;
}
.dataTables_processing span {
    line-height: 15px;
    vertical-align: middle;
}
.dataTables_empty {
    text-align: center;
}
.tabletools-btn-group {
    margin: 0 0 10px;
}
.tabletools-btn-group > .btn {
    margin-right: 5px;
}
.tabletools-btn-group > .btn:last-child {
    margin-right: 0;
}
.tabletools-dropdown-on-portlet {
    float: right;
    margin-top: -45px;
}
.tabletools-dropdown-on-portlet > .btn {
    margin-right: 5px;
}
.tabletools-dropdown-on-portlet > .btn:last-child {
    margin-right: 0;
}
.DTTT_Print {
    background-color: #fff;
}
.DTTT_Print .DTTT_PrintMessage {
    display: none;
}
@media print {
.DTTT_Print .DTTT_PrintMessage {
    display: inline-block;
}
}
.DTTT_Print .DTTT_Print_Info {
    display: block;
    font-size: 18px;
    left: 50%;
    margin-left: -350px;
    position: fixed;
    text-align: center;
    top: 35px;
    width: 700px;
}
.DTTT_Print .page-sidebar, .DTTT_Print .page-header, .DTTT_Print .page-footer {
    display: none;
}
.DTTT_Print .page-content-wrapper {
    float: none;
}
.DTTT_Print .row, .DTTT_Print [class*="col-"] {
    margin: 0;
    padding: 0;
}
.DTTT_Print .page-content {
    border: 0 none !important;
    margin: 50px auto !important;
    padding: 0 !important;
    width: 800px !important;
}
.DTTT_Print .page-content .portlet {
    border: 0 none;
    padding: 0;
}
.DTTT_Print .page-content .portlet .portlet-body {
    padding: 0;
}
.DTTT_Print .page-content .dataTables_wrapper {
    box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
    margin: 0;
    padding: 0;
}
@media print {
.DTTT_Print .page-content .dataTables_wrapper {
    box-shadow: none;
}
}
.paging_bootstrap_extended {
    float: none !important;
    font-size: 13px;
    margin: 0 !important;
    padding: 0 !important;
}
.dataTables_extended_wrapper .seperator {
    padding: 0 2px;
}
.dataTables_extended_wrapper div.dataTables_paginate, .dataTables_extended_wrapper div.dataTables_length, .dataTables_extended_wrapper div.dataTables_info {
    display: inline-block;
    float: none !important;
    margin: 0 !important;
    padding: 0 !important;
    position: static !important;
}
@media (max-width: 480px) {
.dataTables_extended_wrapper div.dataTables_paginate, .dataTables_extended_wrapper div.dataTables_length, .dataTables_extended_wrapper div.dataTables_info {
    display: block;
    margin-bottom: 10px !important;
}
.dataTables_extended_wrapper .seperator {
    display: none !important;
}
}
.dataTables_extended_wrapper div.dataTables_length label {
    display: inline-block !important;
    float: none !important;
    font-size: 13px;
    margin: 0 !important;
    padding: 0 !important;
}
.table-container .table-actions-wrapper {
    display: none;
}
.dataTables_scroll {
    margin-bottom: 10px;
}
.dataTables_scrollHead {
    border-bottom: 2px solid #ddd !important;
}
.dataTables_scrollHead thead th {
    border-bottom: 0 none !important;
}
.dataTables_scrollBody {
    border-bottom: 1px solid #ddd !important;
}
.dropzone {
    border-radius: 0;
}
.fancybox-overlay {
    z-index: 100000;
}
.fancybox-opened {
    z-index: 100001;
}
.spinner-buttons.btn-group-vertical .btn {
    height: 17px;
    margin: 0;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 0;
    text-align: center;
    width: 22px;
}
.external-event {
    cursor: move;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 5px;
}
.portlet .event-form-title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 4px;
}
.portlet.calendar .fc-button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 transparent;
    border-color: #ddd;
    border-image: none;
    border-style: none solid;
    border-width: 0;
    box-shadow: none;
    color: #fff;
    margin-left: 2px;
    padding: 5px 8px 33px;
    text-shadow: none;
    top: -48px;
}
.portlet.calendar .fc-header {
    margin-bottom: -21px;
}
.portlet.calendar .fc-button-prev {
    padding-left: 8px;
    padding-right: 10px;
}
.portlet.calendar .fc-button-next {
    padding-left: 10px;
    padding-right: 8px;
}
.portlet.calendar .fc-button.fc-state-active, .portlet.calendar .fc-button.fc-state-hover {
    background-color: #fff;
    color: #666;
}
.portlet.calendar .fc-button.fc-state-disabled {
    color: #ddd;
}
.portlet.calendar .fc-text-arrow {
    font-family: "Courier New",Courier,monospace;
    font-size: 22px;
    vertical-align: baseline;
}
.portlet.calendar .fc-event {
    background-color: #69a4e0;
    border: 0 none;
    color: #fff;
}
.portlet.calendar .fc-event .fc-event-inner {
    border: 0 none;
}
.portlet.calendar .fc-event .fc-event-time {
    color: #fff;
    float: left;
    font-size: 13px;
    font-weight: 300;
    text-align: left;
}
.portlet.calendar .fc-event .fc-event-title {
    color: #fff;
    float: left;
    font-size: 13px;
    font-weight: 300;
    text-align: left;
}
.portlet.calendar .fc-header-title h2 {
    color: #111;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.portlet.calendar .fc-widget-header {
    background-color: #eeeeee;
    background-image: none;
    filter: none;
    font-weight: 300;
    text-transform: uppercase;
}
.portlet.calendar.light .fc-button {
    color: #666;
    font-size: 12px;
    padding-bottom: 35px;
    text-transform: uppercase;
    top: -52px;
}
.portlet.calendar.light .fc-button .fc-text-arrow {
    display: inline-block;
    margin-top: -6px;
}
.portlet.calendar.light .fc-button.fc-state-active, .portlet.calendar.light .fc-button.fc-state-hover {
    border-bottom: 2px solid #45b6af;
    color: #333;
}
.portlet.calendar.light .fc-button.fc-state-disabled {
    color: #aaa;
}
.portlet.calendar .mobile .fc-button {
    background-color: #dddddd;
    background-image: none;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    color: #000;
    margin-left: 2px;
    padding: 0 6px 20px;
    text-align: center;
    text-shadow: none;
}
.portlet.calendar .mobile .fc-button.fc-state-hover, .portlet.calendar .mobile .fc-button.fc-state-active {
    background-color: #eeeeee;
}
.portlet.calendar .mobile .fc-button.fc-state-disabled {
    color: #bbbbbb;
}
.portlet.calendar .mobile .fc-button-prev {
    margin-right: 5px;
    margin-top: -2px;
}
.portlet.calendar .mobile .fc-button-next {
    margin-right: 0;
    margin-top: -2px;
}
.portlet.calendar .mobile .fc-header-space {
    margin: 0;
    padding: 0;
    width: 0;
}
.portlet.calendar .mobile .fc-header-left {
    position: absolute;
    z-index: 10;
}
.portlet.calendar .mobile .fc-header-left .fc-button {
    top: -2px;
}
.portlet.calendar .mobile .fc-header-right {
    position: relative;
    right: 0;
}
.portlet.calendar .mobile .fc-header-right .fc-button {
    top: 35px;
}
.portlet.calendar .mobile .fc-content {
    margin-top: 53px;
}
.gmaps {
    height: 300px;
    width: 100%;
}
.gmaps img {
    max-width: none;
}
#gmap_static div {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    height: 300px;
}
#gmap_routes_instructions {
    margin-bottom: 0;
    margin-top: 10px;
}
#gritter-notice-wrapper {
    right: 1px !important;
}
.gritter-close {
    left: auto !important;
    right: 3px !important;
}
.gritter-title {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
}
.easy-pie-chart, .sparkline-chart {
    text-align: center;
}
.sparkline-chart {
    margin-top: 15px;
    position: relative;
}
.easy-pie-chart .number {
    font-size: 14px !important;
    font-weight: 300;
    height: 75px;
    line-height: 75px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 75px;
}
.easy-pie-chart .number canvas {
    left: 0;
    position: absolute;
    top: 0;
}
.sparkline-chart .number {
    margin: 0 auto 10px;
    width: 100px;
}
.sparkline-chart .title, .easy-pie-chart .title {
    color: #333;
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
}
.sparkline-chart .title:hover, .easy-pie-chart .title:hover {
    color: #666;
    text-decoration: none;
}
.sparkline-chart .title > i, .easy-pie-chart .title > i {
    margin-top: 5px;
}
.blueimp-gallery .close {
    background-image: url("../img/portlet-remove-icon-white.png") !important;
    margin-top: -2px;
}
.blueimp-gallery .prev, .blueimp-gallery .next {
    border-radius: 23px !important;
}
.ms-container .ms-list {
    border: 1px solid #e5e5e5;
    box-shadow: none;
}
.ms-container .ms-optgroup-label {
    font-size: 14px;
}
.ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection {
    font-size: 13px;
}
.ms-container .ms-list.ms-focus {
    border-color: #999999;
    box-shadow: none;
}
.ms-container .ms-selectable li.ms-hover, .ms-container .ms-selection li.ms-hover {
    background-color: #eee;
    color: #333;
}
.ms-container .form-control {
    margin-bottom: 5px;
}
.jquery-notific8-message {
    font-size: 13px;
}
[class*="jquery-notific8"], [class*="jquery-notific8"]:after, [class*="jquery-notific8"]:before {
    box-sizing: content-box;
}
.right .jquery-notific8-close-sticky span, .left .jquery-notific8-close-sticky span {
    font-size: 10px;
}
.jquery-notific8-heading {
    font-size: 16px;
    font-weight: 300;
}
.password-strength .password-verdict {
    display: inline-block;
    margin-left: 5px;
    margin-top: 6px;
}
.password-strength .progress {
    margin-bottom: 0;
    margin-top: 5px;
}
.password-strength .progress-bar {
    padding: 2px;
}
.scroller {
    margin: 0;
    overflow: hidden;
    padding: 0 12px 0 0;
}
.scroller-footer {
    margin-top: 10px;
}
.scroller-footer:before, .scroller-footer:after {
    content: " ";
    display: table;
}
.scroller-footer:after {
    clear: both;
}
.portlet-body .slimScrollBar {
    margin-right: 0;
}
.jqstooltip {
    height: auto !important;
    width: auto !important;
}
.easy-pie-chart, .sparkline-chart {
    text-align: center;
}
.sparkline-chart {
    margin-top: 15px;
    position: relative;
}
.easy-pie-chart .number {
    font-size: 16px;
    font-weight: 300;
    margin: 0 auto;
    width: 85px;
}
.sparkline-chart .number {
    margin: 0 auto 10px;
    width: 100px;
}
.sparkline-chart .title, .easy-pie-chart .title {
    color: #333;
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
}
.sparkline-chart .title:hover, .easy-pie-chart .title:hover {
    color: #666;
    text-decoration: none;
}
.sparkline-chart .title > i, .easy-pie-chart .title > i {
    margin-top: 5px;
}
div.tagsinput {
    height: auto !important;
    margin: 0;
    min-height: 35px;
    overflow: auto;
    padding: 5px 5px 0;
}
div.tagsinput span.tag {
    background: none repeat scroll 0 0 #aaaaaa;
    border: 0 none;
    color: white;
    margin-bottom: 5px;
    margin-top: 0;
    padding: 3px 6px;
}
div.tagsinput input {
    padding: 3px 6px;
    width: 75px !important;
}
div.tagsinput span.tag a {
    color: white;
}
div.tagsinput .not_valid {
    background-color: #e02222;
    color: white;
    padding: 3px 6px;
}
.slider {
    border: 0 none;
    display: block;
    margin: 12px 5px;
    min-height: 11px;
    padding: 0;
}
.ui-slider-vertical {
    width: 11px;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -3px;
}
.ui-slider-vertical .ui-slider-handle {
    left: -3px;
}
.ui-slider-vertical, .ui-slider-handle {
    background-image: none !important;
    filter: none !important;
}
.jqvmap-zoomin {
    background-color: #666666;
    height: 16px;
    width: 16px;
}
.jqvmap-zoomout {
    background-color: #666666;
    height: 16px;
    width: 16px;
}
.vmaps {
    height: 300px;
    overflow: hidden;
    position: relative;
}
.jstree-default .jstree-clicked {
    background-color: #e1e1e1;
    border: 0 none;
    box-shadow: none;
}
.jstree-default .jstree-hovered {
    background-color: #eee;
    border: 0 none;
    box-shadow: none;
}
.jstree-default .jstree-wholerow-clicked, .jstree-wholerow .jstree-wholerow-clicked {
    background: none repeat scroll 0 0 #e1e1e1;
    border: 0 none;
    box-shadow: none;
}
.jstree-default .jstree-wholerow-hovered, .jstree-wholerow .jstree-wholerow-hovered {
    background-color: #eee;
    border: 0 none;
    box-shadow: none;
}
.jstree-icon.icon-lg {
    margin-top: 1px;
}
.jstree-open > .jstree-anchor > .fa-folder:before {
    content: "";
    margin-left: 2px;
}
.jstree-default.jstree-rtl .jstree-last {
    background: none no-repeat scroll 0 0 transparent;
}
.vakata-context, .vakata-context ul {
    background-color: #ffffff;
    border: 1px solid #efefef;
    box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 14px;
    min-width: 125px;
    padding: 0;
}
.vakata-context li {
    border: 0 none;
}
.vakata-context li a {
    border: 0 none;
    padding: 0 10px;
}
.vakata-context li a i {
    display: none;
}
.vakata-context li a .vakata-contextmenu-sep {
    display: none;
}
.vakata-context .vakata-context-hover > a, .vakata-context li a:hover {
    background-color: #eee;
    box-shadow: none;
    color: #333;
    margin: 0;
}
.vakata-context .vakata-context-hover > a .span, .vakata-context .vakata-context-hover > a .ins, .vakata-context li a:hover .span, .vakata-context li a:hover .ins {
    border: 0 none !important;
}
.vakata-context li a span, .vakata-context li a ins {
    border: 0 none !important;
    display: none;
}
.vakata-context .vakata-context-separator a, .vakata-context-rtl .vakata-context-separator a {
    border: 0 none;
    margin: 0;
}
.jstree-rename-input {
    background-color: #ffffff !important;
    border: 1px solid #e5e5e5 !important;
    margin-right: -4px !important;
    outline: medium none !important;
    padding: 2px 6px !important;
}
.noUi-control {
    margin: 9px 0;
}
.noUi-primary.noUi-connect, .noUi-primary .noUi-connect {
    background: none repeat scroll 0 0 #428bca;
}
.noUi-info.noUi-connect, .noUi-info .noUi-connect {
    background: none repeat scroll 0 0 #89c4f4;
}
.noUi-success.noUi-connect, .noUi-success .noUi-connect {
    background: none repeat scroll 0 0 #45b6af;
}
.noUi-warning.noUi-connect, .noUi-warning .noUi-connect {
    background: none repeat scroll 0 0 #ecbc29;
}
.noUi-danger.noUi-connect, .noUi-danger .noUi-connect {
    background: none repeat scroll 0 0 #f3565d;
}
.noUi-default.noUi-connect, .noUi-default .noUi-connect {
    background: none repeat scroll 0 0 #c6c6c6;
}
.form-recaptcha-img {
    border: 1px solid #e5e5e5;
    clear: both;
    margin-bottom: 10px;
    padding: 5px;
}
iframe[src="about:blank"] {
    display: none;
}
.form-control .select2-choice {
    background-color: #fff;
    background-image: none;
    border: 1px solid #e5e5e5;
    filter: none;
    height: 34px;
    padding: 3px 0 0 12px;
}
.select2-container.select2-drop-above .select2-choice {
    background-color: #fff;
    background-image: none;
    border-bottom-color: #e5e5e5;
    filter: none;
}
.select2-drop {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    background-image: none;
    border-color: -moz-use-text-color #e5e5e5 #e5e5e5;
    border-image: none;
    border-right: 1px solid #e5e5e5;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    box-shadow: none;
    filter: none;
}
.select2-drop-auto-width {
    border-top: 1px solid #e5e5e5;
}
.select2-drop.select2-drop-above {
    border-top: 1px solid #e5e5e5;
    box-shadow: none;
}
.select2-drop-active {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #999999 #999999;
    border-image: none;
    border-right: 1px solid #999999;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
.select2-container .select2-choice .select2-arrow {
    background-color: #fff;
    background-image: none;
    border-left: 1px solid #e5e5e5;
    filter: none;
}
.select2-container.select2-container-active .select2-arrow, .select2-container.select2-dropdown-open .select2-arrow {
    border-left: 0 none !important;
}
.select2-container .select2-choice .select2-arrow b {
    background-position: 0 1px;
}
.select2-search input {
    background-color: #fff !important;
    border: 1px solid #e5e5e5;
    box-shadow: none;
    color: #333333;
    filter: none;
    font-size: 14px;
    font-weight: normal;
    height: auto !important;
    line-height: 20px;
    margin: 5px 0 0;
    min-height: 26px;
    outline: 0 none;
    padding: 6px !important;
    vertical-align: top;
}
.form-control.select2-container {
    border: 0 none;
    height: auto !important;
    padding: 0;
}
.select2-container-active .select2-choice, .select2-container-active .select2-choices {
    border: 1px solid #999999 !important;
    box-shadow: none !important;
}
.select2-dropdown-open .select2-choice {
    background-color: #fff;
    background-image: none;
    border-bottom: 0 none !important;
    box-shadow: none !important;
    filter: none;
}
.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background-color: #fff;
    background-image: none;
    border-color: -moz-use-text-color #999999 #999999 !important;
    border-image: none !important;
    border-right: 1px solid #999999 !important;
    border-style: none solid solid !important;
    border-width: 0 1px 1px !important;
    box-shadow: none !important;
    filter: none;
}
.select2-drop.select2-drop-above.select2-drop-active {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    border-color: #999999 #999999 -moz-use-text-color !important;
    border-image: none !important;
    border-style: solid solid none !important;
    border-width: 1px 1px 0 !important;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px 1px;
}
.select2-results {
    margin: 5px 0;
}
.select2-results .select2-highlighted {
    background: none repeat scroll 0 0 #eee;
    color: #333;
}
.select2-results li em {
    background: none repeat scroll 0 0 #feffde;
    font-style: normal;
}
.select2-results .select2-highlighted em {
    background: none repeat scroll 0 0 transparent;
}
.select2-results .select2-highlighted ul {
    background: none repeat scroll 0 0 #fff;
    color: #000;
}
.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
    background: none repeat scroll 0 0 #f4f4f4;
    display: list-item;
    padding: 3px 7px 4px;
}
.select2-container-multi .select2-choices {
    background-color: #fff;
    background-image: none;
    border: 1px solid #e5e5e5;
    box-shadow: none !important;
    filter: none;
    min-height: 34px;
    padding-left: 6px;
}
.select2-container-multi.select2-container-active .select2-choices {
    background-color: #fff;
    background-image: none;
    border: 1px solid #999 !important;
    box-shadow: none !important;
    filter: none;
}
.select2-container-multi .select2-choices .select2-search-choice {
    background-color: #fff;
    background-image: none;
    border: 1px solid #e5e5e5;
    box-shadow: none !important;
    filter: none;
    margin: 5px 0 3px 5px;
    padding: 3px 5px 3px 18px;
}
.has-warning .select2-container .select2-choice, .has-warning .select2-container .select2-choices {
    border-color: #ecbc29;
}
.has-warning .select2-container.select2-dropdown-open .select2-choice, .has-warning .select2-container.select2-dropdown-open .select2-choices {
    border-color: #ecbc29;
}
.has-warning .select2-container.select2-dropdown-open .select2-choice > span {
    color: #ecbc29;
}
.has-error .select2-container .select2-choice, .has-error .select2-container .select2-choices {
    border-color: #f3565d;
}
.has-error .select2-container.select2-dropdown-open .select2-choice, .has-error .select2-container.select2-dropdown-open .select2-choices {
    border-color: #f3565d;
}
.has-error .select2-container.select2-dropdown-open .select2-choice > span {
    color: #f3565d;
}
.has-success .select2-container .select2-choice, .has-success .select2-container .select2-choices {
    border-color: #45b6af;
}
.has-success .select2-container.select2-dropdown-open .select2-choice, .has-success .select2-container.select2-dropdown-open .select2-choices {
    border-color: #45b6af;
}
.has-success .select2-container.select2-dropdown-open .select2-choice > span {
    color: #45b6af;
}
.modal-open .select2-drop-mask {
    z-index: 10051;
}
.modal-open .select2-drop {
    z-index: 10052;
}
.modal-open .select2-search {
    z-index: 10053;
}
.checker {
    margin-right: 2px !important;
    margin-top: -2px !important;
}
.checker input, .radio input {
    outline: medium none !important;
}
div.checker.disabled span, div.checker.disabled.active span {
    background-position: -152px -260px;
}
div.checker.disabled:hover, div.radio.disabled:hover {
    cursor: not-allowed;
}
div.radio, div.checker {
    margin-left: 3px;
    margin-right: 0;
}

