// Place all the styles related to the Scans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#scan_tolerence {
	border:0; 
	width: 18px; 
	text-align: right; 
	margin: 0;
}

#scan_tolerence_slider {
	margin: 0 10px;
}
