// Place all the styles related to the Similarities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
#similarities .breadcrumb a {
	padding: 2px;
	color: #057;
	text-shadow: 0px 1px 1px #FFF;
	font-weight: normal;
}

#similarities .breadcrumb a:hover {
	color: #58A3E0;
	background: none;
}
*/
.duplicated {
	background: #F99;
	border-radius: 10px;
	padding: 0 5px;
	margin: 0 5px;
	color: #500;
	text-shadow: 0 1px 1px #FFF;
	-webkit-box-shadow: 2px 1px 3px #777;
}
.duplicated.trigger {
	padding: 3px 5px;
        margin: 3px;	
	display: inline-block;
}
.validated {
	-webkit-box-shadow: none;
	color: #900;
}
.exception {
	background: #CCC;
	color: #500;
}

.exception.validated {
	background: #CCC;
	color: #500;
}

#similarities .source {
	padding: 5px;
	margin-bottom: 10px;
	cursor: pointer;
} 
#similarities .source:hover {
	background: #FFF;
	color: white;
}
#similarities .source:hover .breadcrumb a {
	color: white;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.1), 0px 6px 12px rgba(0, 0, 0, 0.1);
}

#similarities .source.toggle_btn {
	background-position: 687px 5px;
}

#similarities .source .breadcrumbs {
	float:left;
}

#similarities .source .icon {
	width: 32px;
	margin-right: 5px;
}
#similarities .source .count {
}

#result_label {
	position:absolute;
	top: 0;
	right: 0;
}

#scan_result h2 {
	color: #FFF;
}

#benchmarking_result > div { padding: 20px 5px; }

#benchmarking_result, 
#benchmarking_result h2 {
	color:#444;
}

